<h1 #appTitle></h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/product-list">Product List</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/cart-list">Cart List</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shop-list">Shop List</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/order">Create an order</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/login">Login</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/admin/products">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div>
  <app-product-list></app-product-list>
  <app-cart-list></app-cart-list>
</div>
<div>
  <app-first></app-first>
</div> -->
<!-- #routerOutlet="outlet" - access to the properties of router-outlet directive -->
<router-outlet #routerOutlet="outlet" (activate)='onActivate($event, routerOutlet)'
  (deactivate)='onDeactivate($event, routerOutlet)'>
</router-outlet>
<!-- Routed views go here -->
<footer>
  <p>Author: {{author}}</p>
</footer>