<div class="panel-body">
  <form class="form-horizontal" (ngSubmit)="onSave()" [formGroup]="orderForm!">
    <fieldset>
      <div class="form-group"
        [ngClass]="{'has-error': (firstName!.touched || firstName!.dirty) && firstName!.invalid }">
        <label class="col-md-2 control-label" for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control" id="firstNameId" type="text" placeholder={{placeholder.firstName}}
            formControlName="firstName" />
          <span class="help-block" *ngIf="(firstName!.touched || firstName!.dirty) && firstName!.errors">
            <span *ngIf="firstName!.hasError('required')">
              {{errorMessageService.firstNameRequired}}
            </span>
            <span *ngIf="firstName!.hasError('minlength')">
              {{errorMessageService.firstNameMinLength}}
            </span>
            <span *ngIf="firstName!.hasError('capitalLetter')">
              {{errorMessageService.firstNameCapitalLetter}}
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control" id="lastNameId" type="text" placeholder={{placeholder.lastName}}
            formControlName="lastName" />
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': (email!.touched || email!.dirty) && email!.invalid }">
        <label class="col-md-2 control-label" for="emailId">Email</label>
        <div class="col-md-8">
          <input class="form-control" id="emailId" type="email" placeholder={{placeholder.email}}
            formControlName="email" appEmailValidator />
          <span class="help-block" *ngIf="(email!.touched || email!.dirty) && email!.errors">
            <span *ngIf="email!.hasError('required')">
              {{errorMessageService.emailRequired}}
            </span>
            <span *ngIf="email!.hasError('email')">
              {{errorMessageService.emailInvalid}}
            </span>
          </span>
        </div>
      </div>

      <div formArrayName="phoneNumbers">
        <div *ngFor="let phoneNumber of phoneNumbers!.controls; let i = index" [formGroupName]="i">
          <div class="form-group" id="{{'phoneNumber' + i}}"
            [ngClass]="{'has-error': (phoneNumber!.touched ||  phoneNumber!.dirty) && phoneNumber!.invalid }">
            <label class="col-md-2 control-label" for="phoneNumberId">Phone number</label>
            <div class="col-md-8">
              <input class="form-control" id="phoneNumberId" type="phone" placeholder={{placeholder.phoneNumber}}
                formControlName="phoneNumber" />
              <span class="help-block" *ngIf="(phoneNumber!.touched || phoneNumber!.dirty) && phoneNumber!.errors">
                <span *ngIf="phoneNumber!.hasError('pattern')">
                  {{errorMessageService.phoneInvalid}}
                </span>
              </span>
            </div>
          </div>
          <div class="col-md-1 text-right" *ngIf="i>0">
            <button class="btn btn-danger" (click)="onRemovePhoneNumber(i)">-</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <button class="btn btn-primary" type="button" (click)="onAddPhoneNumber()">
            +
          </button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-1 col-md-8 checkbox">
          <label>
            <input id="pickupId" type="checkbox" formControlName="pickup">
            Pick up goods from the store in person
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="addressId" [hidden]="!pickup!.value">Address</label>
        <div class="col-md-8">
          <input class="form-control" id="addressId" type="text" placeholder={{placeholder.address}}
            formControlName="address" [hidden]="!pickup!.value" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary" [disabled]="!orderForm!.valid" type="submit">
              Save
            </button>
          </span>
        </div>
      </div>
    </fieldset>
  </form>
</div>