<div class="panel-body">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label" for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)" required
            minlength="3" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control" id="lastNameId" type="text" placeholder="Last Name" maxlength="50" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="emailId">Email</label>
        <div class="col-md-8">
          <input class="form-control" id="emailId" type="email" placeholder="Email (required)" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="phoneNumberId">Phone number</label>
        <div class="col-md-8">
          <input class="form-control" id="phoneNumberId" type="phone" placeholder="Phone number" pattern="[+][0-9]+" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-1 col-md-8 checkbox">
          <label>
            <input id="pickupId" type="checkbox">
            Pick up goods from the store in person
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="addressId">Address</label>
        <div class="col-md-8">
          <input class="form-control" id="addressId" type="text" placeholder="Address" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary" type="submit">
              Save
            </button>
          </span>
        </div>
      </div>
    </fieldset>
  </form>
</div>